# Secrets
JWT_SECRET=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.[USER_NAME]:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.[USER_NAME]:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
        
# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"

# Privy configuration
NEXT_PUBLIC_PRIVY_APP_ID="your-privy-app-id"¨
PRIVY_APP_SECRET=

# AI
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Solana RPC URL
SOLANA_RPC_URL="https://api.mainnet-beta.solana.com"

# BARK Protocol specific configuration
NEXT_PUBLIC_BARK_MINT_ADDRESS=2NTvEssJ2i998V2cMGT4Fy3JhyFnAzHFonDo9dbAkVrg
BARK_PROTOCOL_ADDRESS="BARKkeAwhTuFzcLHX4DjotRsmjXQ1MshGrZbn1CUQqMo"

# Next.js specific
NEXT_PUBLIC_URL="https://ai.barkprotocol.net"

# Optional: Analytics (if using)
NEXT_PUBLIC_ANALYTICS_ID="your-analytics-id"

# Optional: API keys for external services (if using)
AI_SERVICE_API_KEY="your-ai-service-api-key"

# Node environment
NODE_ENV="development"

